# docker-compose.yml (beava on host per root README, ports 8081/8082):
# BEAVA_DATA_UPSTREAM=http://host.docker.internal:8081
# BEAVA_ADMIN_UPSTREAM=http://host.docker.internal:8082
#
# compose.stack.yml (beava in the same compose stack, internal ports):
# BEAVA_DATA_UPSTREAM=http://beava:8080
# BEAVA_ADMIN_UPSTREAM=http://beava:8090
